.footer {
    background-color: rgb(5, 68, 104);
    padding: 20px 0;
    color: white;
  }
  
  .footer h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .footer p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  